@mixin flex($hov:space-between,$col:center, $row:row) {
    display: flex;
    flex-direction: $row;
    justify-content: $hov;
    align-items: $col;
};
@mixin textWidth() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
};
@mixin bgImg($wid:0,$hei:0,$img:'') {
    width: $wid;
    height: $hei;
    background: url($img) no-repeat center;
}
@mixin position($pos:'relative',$top:0,$left:0,$width:100%,$height:100%) {
    position: $pos;
    top: $top;
    left:$left;
    width:$width;
    height:$height;
}
@mixin positionImg($pos:'absolute',$top:0,$right:0,$width:100%,$height:100%,$img:"") {
    position: $pos;
    top: $top;
    right:$right;
    width:$width;
    height:$height;
    background: url($img) no-repeat center;
    background-size:contain;
}
@mixin height($h:0,$lh:$h) {
    height: $h;
    line-height: $lh;
  }
  @mixin wH($w:0,$h:0) {
    width:$w;
    height: $h;
  }
  @mixin border($bw:1px,$bc:$colorF,$bs:solid) {
    border: $bw $bs $bc; 
  }